# set time zone
TZ=Asia/Jakarta

#database
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=db_isp
DB_PORT=3306

#telnet
OLT_HOST=
OLT_PORT=23
OLT_USER=
OLT_PASS=
OLT_ENCOD=ascii

# Telegram Bot Data
TELEGRAM_BOT_TOKEN=tokenmu